#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dcab44;
    color: white;
}

.u-section-1 .u-sheet-1 {
    min-height: 786px;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 756px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 0;
}

.u-section-1 .u-text-1 {
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
    margin: 20px auto 0 0;
}

.u-section-1 .u-form-1 {
    background-image: none;
    height: 494px;
    margin: 40px 30px 0 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 43px 11px 42px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 756px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 0;
}

.u-section-1 .u-image-1 {
    width: 569px;
    height: 616px;
    --radius: 50px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 567px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 623px;
    }

    .u-section-1 .u-form-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 623px;
    }

    .u-section-1 .u-image-1 {
        width: 423px;
        height: 527px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 785px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: 47px;
        margin-bottom: 35px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 733px;
    }

    .u-section-1 .u-image-1 {
        height: 400px;
        margin-top: 122px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 801px;
    }

    .u-section-1 .u-form-1 {
        margin-top: 77px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 1031px;
    }

    .u-section-1 .u-image-1 {
        height: 563px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 536px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 649px;
    }

    .u-section-1 .u-image-1 {
        height: 354px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }
}

.back-btn {
    display: block;
    background-color: #dcab44;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto;
    font-size: 16px;
}

.back-btn:hover {
    background-color: #bd8e27;
}

footer {
    margin-top: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #ddd;
    color: var(--text-primary);
    padding: 20px 0 25px;
    font-size: 13px;
    line-height: 28px;
}

.img {
    width: 200px;
    margin-bottom: 30px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 30px;
}

.col p {
    display: flex;
}

.gg-bookmark {
    top: 6px;
    right: 25px;
    margin-right: -17px;
    margin-bottom: 25px;
}

.gg-phone {
    right: 29px;
    margin-right: -24px;
}

.email-id {
    margin-top: 10px;
    width: fit-content;
    border-bottom: 1px solid #ccc;
}

.gg-mail {
    top: 7px;
    right: 28px;
    margin-right: -21px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.gg-youtube {
    top: 5px;
}