body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 160px;
  color: #fff;
  font-size: 14px;
}

.top-bar .right-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
}

.flag-icon {
  width: 20px;
  height: 14px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color: #f4f4f4;
}

.logo {
  width: 70px;
  margin-right: 100px;
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar select {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-icon {
  font-size: 24px;
  color: #fff;
  margin-left: 90px;
  cursor: pointer;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
  z-index: 3;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  justify-content: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-city .header__navbar-city-item {
  z-index: 3;
  display: none;
  padding: 10px;
  margin-left: -15px;
  margin-top: 15px;
  list-style: none;
  width: 100%;
}

.header__navbar-list-city:hover li {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  padding-left: 0;
  top: calc(100% + 6px);
  right: 0;
  width: 160px;
  background-color: #000;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  list-style: none;
  display: none;
  transform-origin: calc(100% - 20px) top;
  animation: headerGrowth ease-in .2s;
}

.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  border-width: 15px 16px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 16px;
  top: -22px;
  z-index: 0;
}

.header__navbar-user-item a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 16px;
  display: block;
}

.header__navbar-user-item a:hover {
  background-color: #fafafa;
  color: #000;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item:hover,
.header_navbar-icon-link:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link,
.header_navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item-bold {
  font-weight: 400;
}

/* Begin header with search */
.header-with-search {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  color: transparent;
  text-decoration: none;
}

.header__logo-img {
  width: 150px;
  color: var(--white-color);
}

.header__search {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  transform-origin: calc(100% - 20px) top;
  animation: headerGrowth ease-in .2s;
  cursor: default;
  z-index: 2;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: 3px;
  top: -24px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

/* Begin header no cart */
.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-list-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-list-no-cart-img {
  width: 55%;
  display: none;
}

.header__cart-list-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 16px;
  color: var(--text-color);
}

/* End header no cart */

.header__cart-notice {
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 1px 6px;
  color: var(--primary-color);
  font-size: 1.6rem;
  background-color: var(--white-color);
  line-height: 1.4rem;
  border: 2px solid #EE4D2D;
  border-radius: 10px;
}

/* Begin product cart */
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-items {
  padding-left: 0;
  list-style: none;
  /* height: 56vh; */
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #E8E8E8;
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  color: var(--text-color);
  margin: 0;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.header__cart-item-price-wrap {}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multily {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-quantity {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.header__cart-item-desc {
  font-size: 1.2rem;
  color: #757575;
  font-weight: 300;
}

.header__cart-item-del {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

.header__cart-item-del:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 12px 12px 0;
  float: right;
}

.header__cart-view-cart:hover {
  background-color: #f05d41;
}

/* End product cart */

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px 0 40px;
  border-radius: 20px;
}

.header__search-input:focus~.header__search-history {
  display: block;
}

.search-icon {
  position: absolute;
  top: 1.35rem;
  left: 1.5rem;
  color: #999;
}

/* Begin search history */
.header__search-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 85%;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(189, 189, 189);
  display: none;
  overflow: hidden;
}

.header__search-history-heading {
  margin: 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

/* End search history */

/* Begin Delivery btn */
.btn_menu {
  border-radius: 100px;
  width: 264px;
  height: 40px;
  text-transform: capitalize;
  background: rgb(247, 247, 247);
  font-size: 14px;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: 38px 1fr;
  z-index: 3;
}

.delivery_icon {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 6px 0 0 8px;
}

.location-icon {
  font-size: 20px;
  color: red;
  margin-right: 5px;
  cursor: pointer;
}

.text_top {
  margin-left: -17px;
  margin-top: 8px;
  line-height: 18px;
  font-weight: bold;
  color: rgb(237, 28, 36);
}

.text_bottom {
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* modal */
/* Hide the checkbox input */
#modal-toggle {
  display: none;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* Show modal when checkbox is checked */
#modal-toggle:checked+.modal {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.modal-header {
  font-size: 24px;
  margin-bottom: 15px;
}

.modal-body {
  list-style: none;
  padding: 0;
}

.modal-body {
  margin: 10px 0;
  font-size: 18px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Hide modal when the checkbox is unchecked */
#modal-toggle:not(:checked)~.modal {
  display: none;
}

.modal-title {
  color: #4f413a;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 16px 2px;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}

.modal-city {
  padding: 6px 12px;
  background: rgb(235, 31, 58);
  color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  margin-right: 4px;
  margin-left: 8px;
  text-align: center;
  font-size: 14px;
}


/* End Delivery btn */

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
  /* position: relative;
  top: 1px; */
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: #d3d3d3;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option {
  position: absolute;
  right: 0;
  top: calc(100% - 1px);
  list-style: none;
  width: 130px;
  box-shadow: 0 1px 2px #e0e0e0;
  padding-left: 0;
  border-radius: 2px;
  margin-top: 14px;
  display: none;
  animation: fadeIn ease-in .2s;
  z-index: 0;
}

.header__search-option::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: -14px;
  left: 0;
}

.header__search-option-items {
  background-color: var(--white-color);
  padding: 8px 8px;
}

.header__search-option-items:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__search-option-items:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-items:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-items span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-items i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-items--active i {
  display: inline-block;
}

/* End header with search */

/* begin dropdown category */
.navigation-bar {
  background: #f1f0f1;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .25);
  position: relative;
}

.navigation-bar .container {
  height: 40px;
  width: 1180px;
  margin: auto;
}

.flex {
  display: flex;
  flex: none;
}

.w76 {
  width: 76% !important;
}

.w24 {
  width: 24% !important;
}

.w25 {
  width: 25% !important;
}

.justify-end {
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.v-btn__content ul {
  list-style: none;
}

.v-btn-menu {
  display: flex;
  align-items: center;
  border: none;
  margin-top: 6px;
  z-index: 1;
  position: relative;
  background: #f1f0f1;
  list-style: none;
}

.v-btn__content {
  margin-right: 5px;
}

.v-btn__content p {
  font-size: 12px;
  position: absolute;
  top: 11px;
  margin-left: 28px;
  font-weight: 700;
}

.menu-list {
  top: 20px;
  background: #fff;
  min-width: 228px;
  min-height: 65vh;
  position: absolute;
  z-index: 190;
}

.menu-list .menu-item {
  position: static;
  padding: 0 10px 0 15px;
  height: 29px;
  line-height: 29px;
  min-width: 230px;
  font-size: 13px;
  font-weight: 500;
}

.menu-list .menu-item a {
  color: #3333;
}

.menu-list .menu-item .sub-menu {
  width: 50%;
}

.menu-list .menu-item .sub-menu-item {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 29px;
  text-overflow: ellipsis;
}

.menu-list .menu-item a {
  color: #333;
}

.menu-list .menu-item .sub-menu-item .menu-name {
  color: #333;
  padding: 0 10px;
  height: 40.4645454182px;
  line-height: 40.4645454182px;
}

.menu-list .menu-item .sub-menu-item:hover a {
  background: #fff;
  color: #ed1c24
}

.menu-list .menu-item .menu-name {
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.dropdown-menu ul {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
}

.menu-list .menu-item .megamenu-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.menu-list .menu-item .megamenu-wrapper img {
  width: 92%;
  display: inherit
}

.menu-list .menu-item:hover {
  background: #ed1c24
}

.menu-list .menu-item:hover a {
  color: #fff
}

.menu-list .menu-item i {
  margin-top: 9px;
}

.menu-list .menu-item:hover i {
  color: #fff;
}

.menu-list .menu-item .sub-menu-container {
  visibility: hidden;
  transition-delay: .1s;
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  border-left: 7px solid #f1f0f1;
  left: 230px;
  width: 950px;
  height: 100%;
  background: #fff;
  z-index: 100;
  overflow: overlay;
  padding: 0 10px 10px;
  color: #000;
  overflow-y: hidden;
}


.menu-list .menu-item:hover .sub-menu-container {
  visibility: visible;
  opacity: 1
}

/* end dropdown category */

/* news and contact */
.navigation-bar .navigation-bar-item {
  text-transform: none;
  font-size: 12px;
  margin-top: 0;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #f1f0f1;
}

.v-btn__content1 {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.v-btn__content1 p {
  margin-left: 5px;
}

.css-vubbuv {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
}

.city-item {
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: #723c45;
  margin: 10px;
}

.navigation-bar .navigation-bar-item p {
  margin-left: 22px;
}

.emfgmw {
  position: relative;
  cursor: pointer;
  min-width: 155px;
}

/* Contact */
.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  justify-content: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  padding-left: 0;
  top: calc(100% + 6px);
  right: 0;
  width: 150px;
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  list-style: none;
  display: none;
  transform-origin: calc(100% - 20px) top;
  animation: headerGrowth ease-in .2s;
}

.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  border-width: 15px 16px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  right: 16px;
  top: -22px;
  z-index: 0;
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 16px;
  display: block;
}

@keyframes headerGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* banner slider */
.container-section {
  position: relative;
  top: 90px;
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.slider {
  flex: 3;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.slides {
  display: flex;
  width: 700%;
  transition: transform 0.5s ease;
}

.slide {
  width: 100%;
  flex: 1;
}

.slide img {
  width: 44%;
  display: block;
}

input[type="radio"] {
  display: none;
}

.navigation {
  position: absolute;
  width: 100%;
  bottom: 40px;
  display: flex;
  justify-content: center;
}

.navigation label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin: 0 5px;
  cursor: pointer;
}

input:checked~.slides {
  transform: translateX(calc(-100% / 3 * (var(--i, 1) - 1)));
}

#slide1:checked~.slides {
  --i: 1;
}

#slide2:checked~.slides {
  --i: 2;
}

#slide3:checked~.slides {
  --i: 3;
}

.side-banners {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

.side-banner {
  margin-bottom: 60px;
}

.side-banner img {
  width: 100%;
  height: auto;
}

/* Product */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

/* Begin product items */
.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  position: relative;
  display: block;
  margin-top: 10px;
  text-decoration: none;
  background-color: var(--white-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  transition: transform linear 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 10px 10px 6px;
  height: 3.6rem;
  line-height: 1.8rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
}

.home-product-item__price-old {
  margin-right: auto;
  margin-left: auto;
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}

.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-right: auto;
  margin-left: 10px;
  flex-wrap: wrap;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 6px;
}

.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__like--liked {}

.home-product-item__like-icon-empty {}

i.home-product-item__like-icon-fill {
  color: #f63d3d;
  display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2em;
  font-weight: 300;
}

.home-product-item__brand {
  margin-right: auto;
}

.home-product-item__origin-name {}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -2px;
  color: var(--product-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite i {
  color: var(--white-color);
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
}

.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite span {
  color: var(--white-color);
}

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 64, 1);
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  color: rgba(255, 216, 64, 1);
  border-color: transparent currentColor transparent currentColor;
}

.home-product-item-sale-off-percent {
  color: #EE4D2D;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  top: 3px;
}

.home-product-item__sale-off-label {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3rem;
  position: relative;
  top: 3px;
}

.home-product__pagination {
  margin: 50px 0 32px 0;
}

/* footer */
.footer {
  border-top: 3px solid #d42333;
  background-color: #2c2c2c !important;
  color: #8b8b8b;
}

.footer .footer-top-block {
  background: #f8f9fa !important;
  height: 208px;
  margin: 0;
}

.footer .footer-top-block-content {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer .ft-content-section {
  width: 1180px;
  margin: auto;
}

.footer .footer-top-block-item {
  font-size: 13px;
  font-weight: 500;
  color: #666;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  letter-spacing: .2px;
}

.about-us {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #666;
}

h3 {
  font-weight: 600;
  margin: 0px;
}

.footer .footer-content-block {
  background-color: #2c2c2c !important;
  width: 1180px;
  margin: 15px auto;
}

.m-tb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.footer .footer-content-block .wrap {
  display: flex;
}

.footer .footer-title .footer-logo {
  margin-bottom: 0;
}

.footer .footer-title {
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer .footer-link-winmart {
  color: #fff;
  font-size: 12px;
  padding-right: 48px;
  padding-bottom: 6px;
}

.footer .footer-title {
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer .footer-link {
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 12px;
  text-decoration: none;
}

.footer .connect-info {
  display: flex;
  flex-direction: row;
}

.footer .connect-icon {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

/* footer  */

.footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px 10px 10px 120px;
  min-width: 200px;
}

.footer-section h2,
.footer-section h3 {
  color: #fff;
}

.footer-section p {
  font-size: 12px;
  color: #ccc;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  color: red;
}

.footer-section img {
  margin-top: 10px;
  max-width: 123px;
  max-height: 47px;
}

.social-icons a {
  display: inline-block;
  margin: 5px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.pagination-item {
  margin: 58px -90px;
}

.pagination-item__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-old);
  padding: 10px 29px;
  border: none;
  background-color: #dcab44;
  border-radius: 6px;
  transition: 0.3s;
}

.pagination-item__link:hover {
  color: var(--text-primary);
  box-shadow: 0 0 0 4px var(--white-color), 0 0 0 8px #dcab44;
}

.news-section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.news-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.news-item {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 15px;
  text-align: left;
}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.news-item h3 {
  font-size: 18px;
  margin: 10px 0;
  line-height: 20px;
}

.news-item p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.news-item a {
  color: #dcab44;
  text-decoration: none;
  font-weight: bold;
}

.news-item a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #ddd;
  color: var(--text-primary);
  padding: 20px 0 25px;
  font-size: 13px;
  line-height: 28px;
}

.img {
  width: 200px;
  margin-bottom: 30px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  font-size: 30px;
}

.col p {
  display: flex;
}

.gg-bookmark {
  top: 6px;
  right: 25px;
  margin-right: -17px;
  margin-bottom: 25px;
}

.gg-phone {
  right: 29px;
  margin-right: -24px;
}

.email-id {
  margin-top: 10px;
  width: fit-content;
  border-bottom: 1px solid #ccc;
}

.gg-mail {
  top: 7px;
  right: 28px;
  margin-right: -21px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.gg-youtube {
  top: 5px;
}