:root {
    --background-primary: #dcab44;
    --background-second: #FFCE3E;
    --product-color: #70bf73;
    --white-color: #fff;
    --black-color: #000;
    --text-primary: #4f0000;
    --text-second: #333;
    --text-old: #666;
    --color-hover: #ec3745;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --size-80: 80px;
}